.team_direct {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.direct_btn {
  height: 40px;
  width: 100px;
  font-size: 15px;
  font-weight: 600;
  margin: 5px;
}

/* team generation section */
.direct_company_heading {
  width: 100%;
  background-color: gray;
  color: white;
  padding: 3px;
  border-radius: 5px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* tree section */

.team_section {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.tree ul {
  padding-top: 20px;
  position: relative;
  list-style: none;
}

.tree li {
  float: left;
  text-align: center;
  list-style-type: none;
  position: relative;
  padding: 20px 5px 0 5px;
}

.tree li::before,
.tree li::after {
  content: "";
  position: absolute;
  top: 0;
  right: 50%;
  border-top: 1px solid #ccc;
  width: 50%;
  height: 20px;
}

.tree li::after {
  right: auto;
  left: 50%;
  border-left: 1px solid #ccc;
}

.tree li:only-child::after,
.tree li:only-child::before {
  display: none;
}

.tree li:only-child {
  padding-top: 0;
}

.tree li:first-child::before,
.tree li:last-child::after {
  border: 0 none;
}

.tree li:last-child::before {
  border-right: 1px solid #ccc;
  border-radius: 0 5px 0 0;
}

.tree li:first-child::after {
  border-left: 1px solid #ccc;
  border-radius: 5px 0 0 0;
}

.tree ul ul::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  border-left: 1px solid #ccc;
  width: 0;
  height: 20px;
}

.tree li div.node {
  border: 1px solid #ccc;
  padding: 10px;
  display: inline-block;
  background-color: #f9f9f9;
  color: #333;
  border-radius: 5px;
  font-size: 14px;
}
